.font-inter {
  font-family: "Inter", sans-serif;
}

.font-raleway {
  font-family: "Raleway", sans-serif;
}
html {
  scroll-behavior: smooth !important;
}
.seat {
  width: 110px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: rgb(247, 248, 248);
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: rgba(3, 7, 18, 0.5);
}
.seat-series {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: rgba(3, 7, 18, 0.5);
}

.selected {
  background-color: #1cd100;
  color: white;
}
.table-seat {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.booked-seat-number {
  border-radius: 99999px;
  background: rgb(29, 209, 0);
  width: 30px;
  height: 13px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 5px 12px;
}
